@model CustomerViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p><strong>Id:</strong> @Model.Id</p>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Address line 1:</strong> @Model.Address1</p>
    <p><strong>Address line 2:</strong> @Model.Address2</p>
    <p><strong>Postcode:</strong> @Model.Postcode</p>
    <p><strong>Telephone Number:</strong> @Model.TelephoneNumber</p>
    <a href="/">< Back</a>
</div>
